body {
    background-image: url(images/bg-5.png);
    background-size: cover;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

.nav-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid gray;
    width: 25%;
    height: 100vh;
    text-align: center;


}

.portfolio {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 50px 0;
    margin-left: 25%;
}

.container {
    display: flex;

}

.main-container {}

.items {
    cursor: pointer;
}

img {
    width: 400px;
    height: 250px;
}

h3 {
    max-width: 400px;
    ;
}

h5 {
    color: gray;
    margin: 0;
}

p {

    font-size: 12px;
}

.items {

    margin-bottom: 20px;
}

.row-1 {}

a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

span {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.page-links-items {
    margin: 5px;
}

h4 {
    font-size: 14px;
    color: gray;


}

.page-links-items-top {
    margin: 40px 0 0 0;
}

h1 {
    margin-bottom: 2px;
}